/* Colours */
$twb-dark: #2d3a3b;
$twb-blue: #25c9d2;
$twb-purple: #665cc7;
$twb-pink: #f17eb1;
$twb-orange: #f4bd81;
$twb-yellow: #fff88a;
$twb-greymix: #7C8B8B;

$bitbucket: #205081;
$teamwork: #2d333d;
$invision: #ff3366;
$google: #4285f4;

/* General */
html, body{
	height:100%;
}
body{
	background: rgb(213, 216, 216) !important;
}

/* Fonts */

.title-bar{
	background:$twb-dark !important;
	border-top:2px solid $twb-blue;
	padding:0em !important;
	#filters{
		background:transparent;
		margin-bottom:0em;
		button{
			color:rgba(255,255,255,0.5);
			background:none;
			margin-bottom:0px !important;
			font-family: "filson-pro",sans-serif;
			i{
				font-size: 2em;
				margin-bottom: 0.25em;
				svg{
					height: 31px;
					fill: rgba(255,255,255,0.5);;
				}
			}
		}
		.is-checked, .button:hover, .button:active, .button:focus {
			color:white;
			svg{
				fill: white;
			}
		}
	}
}
/* Column/ Aspect Ratio */
.grid{
	padding-bottom:4em;
}
.grid-position-fix{
	position:relative;
}
.wb-logo{
	fill: white;
	width: 65%;
	padding: 1em;
	margin-top:0.5em;
}

/* Widgets */
.dashboard-widget{
	background: white;
	margin: 0.25em;
	border-radius:0.25em;

	.icon-wrapper{
		img{
			display:block;
			height:25px;
		}
	}
	.widget-header{
		padding: 0.5em 1em;
		background:$twb-dark;
		.widget-title{
			color:white;
			margin-bottom:0em;
			font-size:1.55em;
			span{
				font-size: 0.65em;
				position: relative;
				font-family: "filson-pro",sans-serif;
			}
		}
		.widget-icon{
			text-align:right;
		}
	}
	.widget-body{
		padding:1em;
		ul{
			margin-left:0em;
			margin-top:-1em;
			margin-bottom:-1em;
			li{
				list-style-type:none;
				a{
					width:100%;
					text-align:left;
					font-family: "proxima-nova",sans-serif;
					font-weight:300;
					color:grey;
					background:none;
					padding-top:0.5em;
					padding-bottom:0.5em;
					width:100%;
					display:block;
					border-top:1px solid #f1f1f1;
					font-size:1em;
				}
				a:after{
					content:"\f105";
					font-family:"FontAwesome";
					float:right;
				}
			}
			li:first-of-type{
				a{
					border-top:none;
				}
			}
		}
		.button{
			width:100%;
			margin-bottom:0.25em;
			text-align:left;
			font-family: "filson-pro",sans-serif;
			font-weight:100;
			color:grey;
			background:none;
			padding-left:0em;
			padding-right:0em;
		}
		.button:hover{
			background:$twb-blue;
		}
		.button:after{
			content:"\f105";
			font-family:"FontAwesome";
			float:right;
		}
	}
	.accordion-content{
		padding-left:0em;
		padding-right:0em;
	}
	.accordion-item{
		.accordion-title{
			background:whitesmoke !important;
			font-weight:700;
			border-top:1px solid #e5e5e5;
			padding-top:0.75em;
			padding-bottom:0.75em;
		}
		.accordion-title:after{
			display:none;
		}
	}
	.search-box{
		li{
			input{
				border:none;
				background:white;
			}
			input:focus{
				box-shadow:none;
			}
			a{
				text-align:center !important;
				padding-top: 0.7em !important;
				padding-bottom: 0.7em !important;
				background: $twb-blue !important;
				color:white !important;
			}
			a:after{
				visibility:hidden;
			}
		}
	}
}

.links-widget{
	.widget-body{
		padding-left:0em;
		padding-right:0em;
		li{
			a{
				padding-left:1em;
				padding-right:1em;
			}
			a:hover{
				background:rgba(0,0,0,0.05);
			}
		}
	}
}
.chart-widget-blue{
	.widget-header, .widget-body{
		background: linear-gradient(90deg, $twb-blue 50%, $twb-purple 50%);
	}
}

.chart-widget{
	.widget-body{
		background: white;
	}
}

.widget-blue{
	.widget-header{
		background:$twb-blue;
	}
}
.widget-pink{
	.widget-header{
		background:$twb-pink;
	}
}
.widget-purple{
	.widget-header{
		background:$twb-purple;
	}
}
.widget-orange{
	.widget-header{
		background:$twb-orange;
	}
}
.teamwork-widget{
	.widget-header{
		background:$twb-dark;
	}
}

.feeds{
	.dashboard-widget{
		color:$twb-dark;
		.widget-body{
			background: white !important;
			margin-top:15em;
		}
	}
	h5{
		font-family: "filson-pro",sans-serif;
		color:#0a0a0a;
	}
	p{
		font-family: 'Lora', serif;
		line-height: 1.7;
		margin-bottom: 2rem;
		text-rendering: optimizeLegibility;
		font-size:0.95em;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		color:$twb-greymix;
	}
	.feed-source{
		text-align:right;
	}
	.feed-source, .feed-date{
		margin-bottom:0em;
	}
}
.widget-quote{
	font-family: "filson-pro",sans-serif;
	font-size:2em;
}

.event-date{
	background: whitesmoke;
	margin-top: -1em;
	padding: 0.25em 1em;
	color:#555555;
	font-size:0.85em;
}

.event{
	font-family: "proxima-nova",sans-serif !important;
	border-top: 1px solid #e5e5e5;
	margin-top: 1em;
	padding-top: 0.5em;
	padding-bottom: 1em;
	margin-bottom: -1.5em;
	color:gray;
	h6{
		margin-top:0.5em;
		font-family: "proxima-nova",sans-serif !important;
		color:#555555;
	}
	p{
		margin-bottom:0em;
	}
	.attendance-options{
		margin-top:0em !important;
		li{
			a:after{
				display:none;
			}
		}
	}
	.time{
		margin-top:1em;
	}
	.attendees{
		img{
			border-radius:100%;
			float:right;
			max-width:40px;
			border:1px solid #e5e5e5;
		}
		p{
			float: right;
			width: 40px;
			height: 40px;
			text-align: center;
			padding-top: 8px;
			border: 1px solid #e5e5e5;
			border-radius: 100%;
			margin-left: 0.5em;
		}
	}
}

.chart-demo{
	position:relative;
	h5{
		color:white;
		position: absolute;
		top: 30.3%;
		left: 25%;
		right: 25%;
		width: 50%;
		text-align: center;
		font-size: 2.25em;
		font-weight: 700;
		letter-spacing: 1px;
		font-family: "filson-pro",sans-serif;
		span{
			font-size: 0.4em;
			display: block;
			margin-top: -10px;
			font-weight:400;
		}
	}
}

canvas{
	max-width:100%;
	margin-top:1em;
	margin-bottom:1em;
}

@media screen and (max-width:1550px) {
	.left-menu{
		position:relative;
	}
}